<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="sqlsvr"-->
         <!--connectionString="Data Source=localhost;Persist Security Info=True;User ID=(ユーザー名);Password=(パスワード)"
         providerName="System.Data.SqlClient"/>-->
    <add name="docmag" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=docmag;Uid=root;Pwd=Password" />
  </connectionStrings>
</configuration>